.home-container {
  background-color: #040d12;
  color: white;
  width: 100%;
}

.home-headline {
  background-color: #040d12;
  margin: 0 !important;
}

.home-text-container {
  display: flex;
  gap: 100px;
  padding-top: 80px;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  overflow: auto;
  padding-left: 20px;
  flex-wrap: wrap;
  background-color: #040d12;
  padding-bottom: 100px;
  padding-right: 20px;
}

.responsive,
.home-about-me-text {
  max-width: 100%;
  word-break: break-word;
}

.about-me-text-bigger {
  font-size: 1.8em;
  font-weight: 500;
  color: #93b1a6;
}

.about-me-text-highlighted {
  color: #93b1a6;
  font-weight: 500;
}
